*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body{
    margin:0;
    background:#d9d9d9;
    font-family:Arial;
}

.main{
    width:90%;
    height:600px;
    margin:40px auto;
    padding:40px;
    background:linear-gradient(to right,#ff7e9e,#7a3bdc);
}


.top-row{
    display:flex;
    justify-content:space-between;
}

.bottom-row{
    display:flex;
    justify-content:space-around;
    margin-top:120px;
}


.container{
    width:150px;
    height:150px;
    background:linear-gradient(to bottom right,#ffcc33,#ff5733);
    border:2px solid black;
    display:flex;
}


.box{
    width:40px;
    height:40px;
    background:linear-gradient(to bottom right,#00c6ff,#0033cc);
    border:1px solid black;
    font-size:10px;
    color:black;
    display:flex;
    align-items:center;
    justify-content:center;
}


/* For Top rows */

.start{ 
    justify-content:flex-start;
    align-items:flex-start; 
}

.center{
    justify-content:center; 
    align-items:flex-start;
}

.end{
    justify-content:flex-end;
    align-items:flex-start; 
}
.between{
    justify-content:space-between; 
    align-items:flex-start;
}

.around{ 
    justify-content:space-around; 
    align-items:flex-start; 
}

.evenly{ 
    justify-content:space-evenly; 
    align-items:flex-start; 
}

.startt{
    justify-content: end;
    align-items: center;
}

/* For Bottom rows */
.align-start{ 
    justify-content:start; 
    align-items:center; 
}

.align-center{ 
    justify-content:start; 
    align-items:end; 
}

.align-end{ 
    justify-content:center; 
    align-items:center; 
}

.bottom-right{ 
    justify-content:center; 
    align-items:flex-end; 
}

