body{
    margin:0;
    font-family: 'Roboto', Arial, sans-serif;
    background:#f1f3f6;
}

.main{
    width:840px;
    height:520px;
    background:#fff;
    margin:60px auto;
    display:flex;
    box-shadow:0 2px 10px rgba(0,0,0,0.2);
}

.left{
    width:40%;
    background:#2874f0;
    color:white;
    padding:40px 33px;
    position:relative;
}

.left h2{
    margin:0;
    font-size:28px;
    font-weight:500;
}

.left p{
    margin-top:20px;
    color: #e8dede;
    font-size:18px;
    line-height:28px;
}

.left img{
    position:absolute;
    bottom:40px;
    left:33px;
    width:220px;
}

.right{
    width:60%;
    padding:40px 35px;
    position:relative;
}

.input-field{
    width:100%;
    border:none;
    border-bottom:1px solid #c2c2c2;
    padding:10px 0;
    font-size:16px;
    outline:none;
}

.input-field:focus{
    border-bottom:2px solid #2874f0;
}

.terms{
    font-size:12px;
    color:#878787;
    margin-top:20px;
}

.terms a{
    color:#2874f0;
    text-decoration:none;
}

.terms a:hover{
    text-decoration:underline;
}

.btn{
    width:100%;
    background:#fb641b;
    color:white;
    border:none;
    padding:14px;
    margin-top:20px;
    font-size:16px;
    cursor:pointer;
}

.btn:hover{
    background:#e65c00;
}

.bottom-link{
    position:absolute;
    bottom:30px;
    left:35px;
    font-size:14px;
}

.bottom-link a{
    cursor: pointer;
    margin-left: 100px;
    color:#2874f0;
    text-decoration:none;
}

