*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #bca7a7;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    text-align: center;
}

.bulb{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: white;
    margin-bottom: 30px;
}


button{
    height: 100px;
    width: 40px;
    margin: 10px;
    background: #93744c;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
}